*,
*:before,
*:after {
  box-sizing: border-box;
}


/**
 * Everything necessary for the float fallback
 */
@mixin clear {
  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}
